{% extends 'base.html.twig' %}

{% block title %}Accueil - WorkTogether{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="text-center">
        <h1>WorkTogether Data Solutions</h1>
        <p class="lead">Gestion de datacenters et location de baies</p>
        
        <div class="mt-5">
            <a href="{{ path('app_baie') }}" class="btn btn-primary btn-lg">
                Gérer les baies
            </a>
        </div>
        <div class="mt-5">
            <a href="{{ path('app_client_index') }}" class="btn btn-primary btn-lg">
                Gérer les clients
            </a>
        </div>
        <div class="mt-5">
            <a href="{{ path('app_offre_index') }}" class="btn btn-primary btn-lg">
                Voire les offres
            </a>
        </div>
        <div class="mt-5">
            <a href="{{ path('app_offre_index') }}" class="btn btn-primary btn-lg">
                Voire les offres
            </a>
        </div>

        <div>

        </div>
    </div>
</div>
{% endblock %}